.main-container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
    font-family: 'Nunito', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header h1 {
    margin: 0;
    color: #2c3e50;
    font-size: 1.5rem;
}

/* Botones Generales */
.btn-create, .button-succes, .button-danger {
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s;
}

.btn-create, .button-succes {
    background-color: #16be75;
    color: white;
    font-size: 0.85rem;
}

.btn-create:hover {
    background-color: #00b345;
}

.button-succes:hover {
    background-color: #218838;
}

.button-danger {
    background-color: #dc3545;
    color: white;
}

.button-danger:hover {
    background-color: #c82333;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    background: white;
    border-radius: 8px;
    overflow: hidden;
    font-size: 0.80rem;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

th {
    background-color: #f8f9fa;
    color: #555;
    font-weight: bold;
    text-transform: uppercase;
}

tr:hover {
    background-color: #f9f9f9;
}

.btn-update { color: #f1c40f; font-size: 1.2rem; margin-right: 10px; cursor: pointer; }
.btn-delete { color: #e74c3c; font-size: 1.2rem; cursor: pointer; }

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(3px); /* Efecto borroso al fondo */
}

.modal-content {
    background-color: white;
    margin: 1% auto;
    padding: 30px;
    border-radius: 12px;
    width: 450px;
    position: relative;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    animation: slideDown 0.4s ease-out;
}

@keyframes slideDown {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.close {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 28px;
    color: #aaa;
    cursor: pointer;
}

.close:hover { color: #000; }

.modal-content h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Formulario dentro del modal */
form p {
    margin-bottom: 15px;
}

form input, form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Importante para que el padding no sature el ancho */
}